* {
    margin: 0;
    padding: 0;
    border: 0;
  }
/*-----------------------------------------------General*/ 
.center {
        text-align: center;
        margin: 0 auto;
}


h1 {
    text-align: center;
}

.selected {
  background-color: lightgrey;
}