* {
    margin: 0;
    padding: 0;
    border: 0;
  }
/*-----------------------------------------------General*/ 
.center {
        text-align: center;
        margin: 0 auto;
}


h1 {
    text-align: center;
}

.selected {
  background-color: lightgrey;
}

#play-again-button {
  display: none;
}

body {
  background-image: url('../images/atlas.png');;
  background-color: rgb(246, 248, 250);
  background-repeat: no-repeat;
  background-position: top;
}